.main{
    margin-left: 180px;
    height: 367px;
    background-color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    border: solid rgb(83, 83, 223) 1px;

}
.main_heading{
    color: #3262A3;
    font-size: 23px;
    font-weight: 900;
}
li{
    list-style: none;
    padding-left: 60px;
    font-size: 18px;
}
.main_content{
    font-size: 18px;
    padding-top: 30px;
}