.Nav{
    width: 180px;
    height: 480px;
    background-color:rgb(189, 189, 189);
    float: left;
}
.nav_heading{
    display: inline-block;
    padding-top: 40px;
    padding-left: 40px;
    color: #000066;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    font-family: Roboto;
}
.nav_heading:hover{
    color: #3262A3;
}
.nav_content{
    padding-left: 40px;
    font-size: 22px;
    color: rgb(61, 0, 61);
    font-weight: bold;
}
